---
id: ojh3juejurrcr8hx4130d3j
title: 2026 05 04 Fingerprint Verification
desc: ''
updated: 1777933342068
created: 1777933304728
---

## Goals

historical states should never change. Record a fingerprint for each file, and invent a new API/CLI surface that verifies files have not changed.

## Summary

## Discussion

## Open Issues

## Decisions

## Contract Changes

## Testing

## Non-Goals

## Implementation Plan

- [ ]